@import 'tailwindcss/base';

body {
    @apply m-0 p-0 overflow-hidden
}

::selection {
    text-shadow: -1px 1px 0 #1a2634,
        1px 1px 0 #203e5f,
        1px -1px 0 #ffcc00,
        -1px -1px 0 #fee5b1;

    @apply text-neutral-100
}

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: Soligant;
    src: url("./fonts/soligant/Soligant.otf") format("opentype");
}

@font-face {
    font-family: Quizma;
    src: url("./fonts/quizma/Quizma_Light_Demo.otf") format("opentype");
}