@import 'tailwindcss/base';

body {
    @apply m-0 p-0 overflow-hidden
}

::selection {
    text-shadow: -1px 1px 0 #38b899,
        1px 1px 0 #b23a3a,
        1px -1px 0 #a9c328,
        -1px -1px 0 #aa4396;

    @apply text-neutral-100
}

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: Soligant;
    src: url("./fonts/soligant/Soligant.otf") format("opentype");
}

@font-face {
    font-family: Quizma;
    src: url("./fonts/quizma/Quizma_Light_Demo.otf") format("opentype");
}